<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbezliudko.sixthhomework" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FirstHomeworkActivity" >
        </activity>
        <activity android:name=".Activities.SecondHomeworkActivity" >
        </activity>
        <activity android:name=".Activities.ThirdHomeworkActivity" >
        </activity>
        <activity android:name=".Activities.FourthHomeworkMainActivity" >
        </activity>
        <activity android:name=".Activities.FifthHomeworkActivity" >
        </activity>
        <activity android:name=".Activities.SixthHomeworkMainActivity" >
        </activity>
        <activity android:name=".Activities.SixthHomeworkAdditionalActivity" >
        </activity>
    </application>

</manifest>
